@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The BookShop</h1>
</div>

<footer class="page-footer font-small mdb-color lighten-3 pt-4">

 
  <div class="container">

   
    <div class="row">

      
      <div class="col-lg-3 col-md-12 mb-4">      
        <div class="view overlay z-depth-1-half">
          <img src="https://i.pinimg.com/474x/db/e2/77/dbe277bb7633796db5c77e363c8be1f9.jpg" class="img-fluid"
            alt="">
          <div class="items-details">
          <h4>Horror Books</h4>
                                      <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="Get">GetAllDetails</a>

          



          </div>
        </div>

      </div>
      <div class="col-lg-3 col-md-6 mb-4">
      
        <div class="view overlay z-depth-1-half">
          <img src="https://i.pinimg.com/474x/db/e2/77/dbe277bb7633796db5c77e363c8be1f9.jpg" class="img-fluid"
            alt="">
          <div class="items-details">
          <h4>Comedy Books</h4>
                                      <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="Get">GetAllDetails</a>

          


          </div>
        </div>

      </div>
   
      <div class="col-lg-3 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="https://i.pinimg.com/474x/db/e2/77/dbe277bb7633796db5c77e363c8be1f9.jpg" class="img-fluid"
            alt="">
          <div class="items-details">
          <h4>Romantic Books</h4>
                                      <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="Get">GetAllDetails</a>

          


          </div>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-12 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="https://i.pinimg.com/474x/db/e2/77/dbe277bb7633796db5c77e363c8be1f9.jpg" class="img-fluid"
            alt="">
          <div class="items-details">
          <h4>Fiction Books</h4>
                                      <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="Get">GetAllDetails</a>

         


          </div>
        </div>

      </div>  

      </div>
    </div>
  </div>  

  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="/"> MDBootstrap.com</a>
  </div>
  
</footer>
