@model BookSellingWebsite_Assessment_04_.Model.Book

@{
    ViewData["Title"] = "Description";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
    background-color:lightgreen;
    }
</style>
<center><h1>Description</h1></center>
    <a asp-action="Get">Back To The Previous Page</a>

<div>
            <h4>HorrorBook</h4>

<section class="items-product1 pt-30">

     <div class="container">

    
        <div class="row">

      
            <div class="col-lg-6 col-md-2 mb-6">
                 <div class="view overlay z-depth-1-half">
                      <p>
       Horror is a peculiar genre. If it’s meant purely to scare, then some of the heftier books on this list would have wracked up a body count, terrifying readers to death over 700 pages or more. And what is scary? What might shock one reader is laughable to another. Ghosts, serial killers, great heaving monsters, the loss of self-control, plagues, impossible physics and a creepy clown all figure into our countdown, with entries spanning from the 1800s to the last few years. One (obvious) author makes five(!) appearances, and easily could have qualified for a few more; another has written just one novel during his decades-long career. We narrowed our focus to prose novels, so please don’t ask after The Books of Blood or Uzumaki.
   </p>
                 </div>
            </div>
            <div class="col-lg-6 col-md-2 mb-6">
                 <div class="view overlay z-depth-1-half">
                       <img src="https://flxt.tmsimg.com/assets/p15880871_b_h10_ab.jpg" class="img-fluid"
            alt="">
                 </div>
            </div>
       </div>

       <hr>
            <br>
            <br>


       <div class="row">
           <h4>ComedyBook</h4>
      
            <div class="col-lg-6 col-md-2 mb-6">
                 <div class="view overlay z-depth-1-half">
                      <p>
            A comedy book is a book about being funny; or what is funny; or what it takes to be funny; or about the business, industry, or process of being funny, usually written by someone who has made a decent living for themselves and/or become a living legend via continued acts of comedy — comics, comedic actors, screenwriters, sitcom showrunners, self-proclaimed “humorists,” and such. A comedy book might also be a book that is just plain funny, on purpose, like a comic novel. We basically just mean any book a voracious comedy nerd would enjoy, the kind of book for someone who reads Vulture’s comedy coverage on a regular basis. In other words, these are books you will enjoy. And as luck would have it, the comedy books released so far in 2022 that we’re writing about here — arranged chronologically by release date — are all pretty terrific.
   </p>
                 </div>
            </div>
            <div class="col-lg-6 col-md-2 mb-6">
                 <div class="view overlay z-depth-1-half">
                       <img src="https://m.media-amazon.com/images/I/41eA0SvrVbL._SL500_.jpgsimg.com/assets/p15880871_b_h10_ab.jpg" class="img-fluid"
            alt="">
                 </div>
            </div>
       </div>
              <hr>
                 <br>
                <br>


       <div class="row">
           <h4>RomanticBook</h4>
      
            <div class="col-lg-6 col-md-2 mb-6">
                 <div class="view overlay z-depth-1-half">
                      <p>
            Many of these great reads are romance-plus-other, so they're perfect for people who think they aren't into the genre. The romance realm has a lot to offer beyond the bodice-rippers you may have seen hiding in your mom's bedside table or waiting for impulse buyers at the grocery store checkout counter. Alongside the love stories that categorize the form, many of our favorite romances also feature exciting plot lines, BIPOC and LGBTQ+ love stories and lyrical language that keep us breathless right through the final page. Add these to your TBR pile, and don't forget to check out the Good Housekeeping book club once you're done, for even more fantastic stories.

        </p>
                 </div>
            </div>
            <div class="col-lg-6 col-md-2 mb-6">
                 <div class="view overlay z-depth-1-half">
                       <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1514789743i/37775811._UY960_SS960_.jpg" class="img-fluid"
            alt="">
                 </div>
            </div>
       </div>
              <hr>
            <br>
            <br>

       <div class="row">
           <h4>FictionBook</h4>
      
            <div class="col-lg-6 col-md-2 mb-6">
                 <div class="view overlay z-depth-1-half">
        <p>
            After two years of living through a global pandemic, we all crave a little relaxation. And what better way to chill out than with a great book? Fiction books help us escape no matter where we’re curled up reading: a cozy armchair, the beach, or even on the train or bus during a busy morning commute. Even if you have a soft spot for classic novels, there’s a special joy that comes from anticipating a new release from your favorite author—or even a debut author whose book blurb piqued your interest.

        </p>
                 </div>
            </div>
            <div class="col-lg-6 col-md-2 mb-6">
                 <div class="view overlay z-depth-1-half">
                        <img src="https://www.bookgeeks.in/wp-content/uploads/2022/06/The-Hidden-Hindu-Akshat-Gupta-Book.jpg" class="img-fluid"
            alt="">
                 </div>
            </div>
       </div>
    </div>
</section>
</div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
</div>
